.chat-container {
    background-color: white;
    position: fixed;
    bottom: 0;
    right: 0;
    width: 310px;
    height: 400px;
    box-shadow: 0px 0px 5px 0px #707070;
    border-radius: 8px;
  
    .chat-header {
      display: flex;
      justify-content: space-between;
      padding: 10px 10px;
      align-items: center;
      color: $clr1;
  
      .close-chat {
        background-color: #eae8e8d1;
      }
    }
  
    .chat-content {
      border-top: 1px solid rgb(196, 193, 193);
      padding: 10px;
      overflow-y: scroll;
      height: 72%;
    }
  
    .msgs-container {
      list-style-type: none;
      padding: 0;
      margin: 0;
  
      li {
        padding: 5px 0px;
  
        &:nth-of-type(odd) {
          background-color: rgba(223, 195, 195, 0.822);
        }
      }
    }
  
    form {
      position: absolute;
      bottom: 0;
      width: 100%;
      display: flex;
      justify-content: space-between;
  
      input {
        flex-grow: 1;
        margin-inline-end: 5px;
        border-radius: 8px;
        border: 1px solid rgb(187, 187, 187);
        outline: none;
      }
      button {
        background-color: #eae8e8d1;
      }
    }
    ::-webkit-scrollbar {
      width: 7px;
      height: 7px;
    }
    ::-webkit-scrollbar-thumb {
      background: linear-gradient(13deg, #e7e1e8 14%, #b8b9c2 64%);
      border-radius: 10px;
    }
    ::-webkit-scrollbar-thumb:hover {
      background: linear-gradient(13deg, #b8b9c2 14%, #e7e1e8 64%);
    }
    ::-webkit-scrollbar-track {
      background: #ffffff;
      border-radius: 10px;
      box-shadow: inset 7px 3px 12px #f0f0f0;
    }
  }