.toy-footer-container {
    background-color: $clr1;
    // height: 10vh;
    padding: 10px 0 10px 0;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
  }