.home-container {
    background-color: #FFFFFF;

    img {
        max-height: 80vh;
        object-fit: cover;
    }
}
// .home el-button {
//     position: fixed;
//     margin-top: 100px;
//     margin: auto;
//     z-index: 1;
// }